#btnGr
  a.btn.btn-default(href="contact") Контакты
a#logo(href="/")
  img#imgLogo(src="/images/logotype-in.png")
#page.contact
  .image


.row.urname
  p.name ООО «Файвтроникс»
  p
    a(href="tel:+79248723996") +7(924)872-39-96
    br
    a(href="tel:+74112744486") +7(4112)74-44-86
  p.col-md-12.col-xs-12 г. Якутск, Дзержинского 76/1, Технопарк «Якутия», Блок С, каб. 204
  p
    a(href="mailto:inbox@fivetronics@.com") inbox@fivetronics@.com

