#btnGr
  a.btn.btn-default(href="contact") Контакты
a#logo(href="/")
  img#imgLogo(src="/images/logotype-in.png")
#page.contact
  .image


.row.urname
  p.name ООО «Файвтроникс»
  p
    a(href="tel:+79640768111") +7 964 076-81-11
  p г. Якутск, Дзержинского 76/1, Технопарк «Якутия», Блок С, каб. 204
  p
    a(href="mailto:fivetronics@gmail.com") fivetronics@gmail.com

