extends ../layout
block content
  #page
    video#back(muted loop preload="auto" poster="/images/contact.jpg" autoplay)
      source(src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" type="video/mp4")
      source(src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.webm" type="video/webm")
    //- #black_back
    a(href="/") BACK
    .casing
      .foto
      span.fio Николай Лермонтов
      br
      span.post лучший программист
    br
    .casing
      .foto(style='background-image: url("/images/24.jpg");')
      span.fio Глеб Глинберг
      br
      span.post главный бухгалтер

