#contact
  .image

.menu
  a#logo(href="/")
    img#baz(src="/images/logo-in.png")
  a.btn.btn-default.cont(href="contact") Контакты


.urname
  p.name ООО «Файвтроникс»
  p
    a(href="tel:+79640768111") +7 964 076-81-11
  p г. Якутск, Дзержинского 76/1, Технопарк «Якутия», Блок С, каб. 204
  p
    a(href="mailto:fivetronics@gmail.com") fivetronics@gmail.com
