#page
  .half.left.image
  a(href="/contact")
    #left.half.left.yellow
    h1.title.half.left.text #{title}
    h2.subtitle.half.left.text_black Дизайн-студия
    .intro.half.left.text
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum facilisis molestie. Cras vel pulvinar mi, sed feugiat sem. Aliquam egestas, orci vel pretium efficitur, velit dui cursus lectus, in euismod purus eros ultricies purus. Nunc tempor iaculis mi, et ultrices dolor condimentum ac. Sed ullamcorper, ligula quis consequat egestas, ligula purus scelerisque nulla, in tristique ante nisl eget mauris. Pellentesque quis risus rutrum, sodales est sed, faucibus metus.
  .half.right.image
  a(href="#")
    #right.half.right
    h1.title.right.half.text.text_hide #{title}
    h2.subtitle.half.right Собственные проекты
    .intro.half.right.text.text_hide
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum facilisis molestie. Cras vel pulvinar mi, sed feugiat sem. Aliquam egestas, orci vel pretium efficitur, velit dui cursus lectus, in euismod purus eros ultricies purus. Nunc tempor iaculis mi, et ultrices dolor condimentum ac. Sed ullamcorper, ligula quis consequat egestas, ligula purus scelerisque nulla, in tristique ante nisl eget mauris. Pellentesque quis risus rutrum, sodales est sed, faucibus metus.
#arrow

script( type="text/javascript", src="hover.js")

