#home
  a#logo(href="/")
    img#imgLogo(src="/images/logotype.png")
  #btnGr
    a.btn.btn-default(href="contact") Контакты
  #page
    #left.half
      .image
      //- a.language(href="#" ng-click="setLang('en')") Английский
      //- a.language(href="#" ng-click="setLang('ru')" style="top: 200px;") Русский
        .text(translate="intro") intro
      a.intro(href="/project")
        h2.title Веб-студия
        .text
          //- p(translate="intro") intro
          span Разработка сайтов и мобильных приложений
          br
          span любого уровня сложности
    #right.half
      .image
      a.intro(href="own-project")
        h2.title Свои проекты
        .text
          p Лаборатория собственных стартапов



script( type="text/javascript", src="hover.js")

