#page
  #left.half
    .image
    a.intro(href="/project")
      //- a.language(href="#" ng-click="setLang('en')") Английский
      //- a.language(href="#" ng-click="setLang('ru')" style="top: 200px;") Русский
      h2.title Веб-студия
      .text
        //- p(translate="intro") intro
        span Разработка сайтов и мобильных приложений
        br
        span любого уровня сложности
  #right.half
    .image
    a.intro(href="own-project")
      h2.title Свои проекты
      .text
        p Лаборатория собственных стартапов


//- #arrow
#logo
  img#baz(src="/images/Logo.png")
a.btn.btn-default.cont(href="contact") Контакты

script( type="text/javascript", src="hover.js")

