//- #owl-example
//-   div
//-     #green(src="/images/42.jpg")
//-   div
//-     #red 2
//-   div
//-     #blue 3

.owl-carousel
  div.spain Your Content
    p.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum facilisis molestie. Cras vel pulvinar mi, sed feugiat sem. Aliquam egestas, orci vel pretium efficitur, velit dui cursus lectus, in euismod purus eros ultricies purus. Nunc tempor iaculis mi, et ultrices dolor condimentum ac. Sed ullamcorper, ligula quis consequat egestas, ligula purus scelerisque nulla, in tristique ante nisl eget mauris. Pellentesque quis risus rutrum, sodales est sed, faucibus metus.
  div.canada Your Content
  div.spain Your Content
  div.canada Your Content


script(type="text/javascript", src="/custom_slider.js")
