script(type="text/javascript", src="owl.carousel.min.js")
.owl-carousel
  .customItem.guru.direct
    .container
      .col-md-5.col-sm-5.col-xs-12
        .desc
          h3  Гуру Строй

          p Гурустрой.ру – рекламная площадка в сети Интернет. Целью функционирования Портала является предоставление доступа Покупателей к информации о Компаниях, в том числе контактной информации, информации о товарах и услугах, предлагаемых Компаниями, а также помощь Покупателям в поиске максимально выгодного предложения, соответствующего запросу качества, количества и характеристик.

          p Миссия Портала – помочь предпринимателям продавать, а потребителям покупать товары и услуги в интернете на максимально выгодных условиях. Гурустрой.ру представляет любой компании возможность создать собственную рекламную площадку (веб-сайт, интернет-магазин).

          p
            em руководитель проекта
            br
            | Сергей Христофоров

          p
            em программисты
            br
            |Данил Колесников
            br
            |Николай Аммосов
          img(src="images/guru-logo.png")
  .customItem.tales
    .container
      .col-md-5
        .desc.blackText
          h3  Якутские сказки

          p «Якутские сказки» помогут вашим детям весело и с пользой провести свое время, а родителям даст возможность свободно заняться своими делами.

          p В «якутских сказках» маленький читатель своими руками заставляет персонажей двигаться, издавать звуки и сказка становится живой.

          p
            em руководитель проекта
            br
            | Сергей Христофоров
          p
            em иллюстратор
            br
            | Кира Шаховал

          p
            em программисты
            br
            |Алексей Эляков
            br
            |Мичил Андросов
            br
            |Иван Гаврильев

a#logo(href="/")
  img#imgLogo(src="/images/logotype.png")
#btnGr
  a.btn.btn-default(href="contact") Контакты

script(type="text/javascript", src="/custom_slider.js")
