
a#logo(href="/")
  img#imgLogo(src="/images/logo-in.png")
.container#project
  .row
    .col-md-12(style="text-align: right;")
      a.btn.btn-default.btnPr(href="contact") Контакты
      a.btn.btn-default.btnPr(href="contact") Контакты
      //- a.btn.btn-default(href="contact") Контакты
  .row
    .col-md-12.col-sm-12
      .part(style="position: relative; margin-bottom: 100px; margin-top: 20px;")
        img(src="images/BG_Aero.jpg")
        img.banner(src="images/plane.png")
        .option
          a(href="http://www.yakutia.aero" target="_blank")
            h4
              strong Авиакомпания «Якутия»
          p Сайт использует интеграцию с
            br
            |базой данных мировых полетов
            br
            |и отображает табло и расписание
            br
            |рейсов в реальном времени.
  .row
    .col-md-6.col-sm-6
      .part
        img.big(src="images/Page2.png")
        br
        br
        span VI Международные Спортивные Игры «Дети Азии»
    .col-md-6.col-sm-6
      .part
        img.big(src="images/Map1.png")
        br
        br
        span Инвестиционный портал Республики Саха (Якутия)
  .row
    .col-md-4.col-sm-4
      .part
        img.big(src="images/egor.png")
        br
        br
        span Глава Республики Саха (Якутия)
    .col-md-4.col-sm-4
      .part
        img.big(src="images/vent.png")
        br
        br
        span Венчурная компания «Якутия»
    .col-md-4.col-sm-4
      .part
        img.big(src="images/gkz.png")
        br
        br
        span Веб-маркет малых закупок госкомзаказ РС(Я)
  .row
      .col-md-3.col-sm-3
        .part
          img.big(src="images/Arctic-Lady.png")
          br
          br
          span Фонд «Арктик Леди»
      .col-md-3.col-sm-3
        .part
          img.big(src="images/Satellite.png")
          br
          br
          span Провайдер спутникового интернета «Якcтар»
      .col-md-3.col-sm-3
        .part
          img.big(src="images/sp-logo.png")
          br
          br
          span Многоуровневые автоматические парковки «Саха Паркинг»
      .col-md-3.col-sm-3
        .part
          img.big(src="images/Layer-7.png")
          br
          br
          span Полиграфия
  .footer
    p © 2012-2015 ООО «Файвтроникс». Все права защищены.
