a {
  color: #00B7FF;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#page{
  position: absolute;
  display: block;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #999;
  overflow: hidden;
  z-index: 0;
  .half{
    position: absolute;
    height: 100%;
    width: 50%;
    @include transition(.3s);
  }
  .left{

    left: 0;
  }
  .left.image{
    background: url("/images/left.jpg") left no-repeat;
    background-size: cover;
  }
  .right{
    right: 0;
  }
  .right.image{
    background: url("/images/right.jpg") right no-repeat;
    background-size: cover;
  }
  .yellow{
    background-color: $YH1;
    // @include transition(.3s);
    // @include opacity(95);
    .intro{
      // @include transition-delay(1s);
      // @include transition(0.3s);
      @include opacity(100);
    }
    .subtitle{
      color: #333;
      // @include transition(0.3s);
    }
    // &:hover{
    //   @include transition(.3s);
    //   @include opacity(95);
    //   .title{
    //     @include opacity(100);
    //   }
    // }
  }
}
.foo{

}
.intro{
  margin: auto 0;
  padding: 150px 50px;
  text-align: center;
  opacity: 0;
  @include no-flicker;
  @include transition(.3s);
}

.title{
  @include no-flicker;
  font-size: 50px;
  font-weight: bold;
  // position: relative;
  text-align: center;
  color: white;
  width: 50%;
  @include opacity(100);
}
.subtitle{
  @include no-flicker;
  font-size: 40px;
  font-weight: bold;
  @include transition(0.3s);
  color: white;
  z-index: 10;
}


#black_back{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  @include opacity(75);
}
#back{
  position: absolute;
  height: 100%;
  width: auto;
  background-color: #aaa;
  // background-image: url("/images/contact.jpg");
  // background-size: cover;
}
.casing{
  position: relative;
  width: 370px;
  height: 170px;
  padding: 0 20px 0 50px;
  .foto{
    width: 100%;
    height: 100%;
    background-image: url("/images/42.jpg");
    background-size: cover;
    background-color: #999;
  }
  span.fio{
    position: absolute;
    bottom: 20px;
    left: 0;
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
  span.post{
    position: absolute;
    bottom: 5px;
    left: 0;
    font-size: 10px;
    font-style: italic;
    color: $YH1;
  }
}







#owl-example{
  width: 600px;
  height: 400px;
  margin: 0 auto;
}

.i{
  display: inline-block;
  width: 600px;
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
}

.owl-prev{
  width: 70px;
  height: 22px;
  position: relative;
  top: -250px;
  left: -350px;
  padding-top: 10px !important;
}
.owl-next{
  width: 70px;
  height: 22px;
  position: relative;
  top: -250px;
  right: -350px;
  padding-top: 10px !important;
}





