@media (min-width: 1200px){
  .container {
    width: 1000px;
  }
  .desc{
    margin-top: 150px;
    width: 100%;
    text-align: left;
    font-size: 15px;
    p{
      font-weight: 200;
      font-family: 'PT Serif', serif;
      margin-bottom: 20px;
    }
    h3{
      margin-bottom: 40px;
    }
  }
}

@media (min-width: 1000px){
  .container {
    width: 900px;
  }
}
@media screen and (max-width: 767px) {
  #page{
    #left{
      top: 0;
    }
    #right{
      left: 0;
      top: 50%;
    }
    .half{
      height: 50%;
      width: 100%;
    }
    .yellow{
      top:0;
    }
  }
  .intro{
    margin-top: 40%;
    padding-left: 25px;
    padding-right: 25px;
    .title{
      font-size: 35px;
    }
  }
  .intro > .text{
    display: none;
  }
  .cont{
    margin-top: 58%;
    display: inline-block;
    position: static;
  }
}
