@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic);
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400italic);
$YH1: #ffe200;
$YH2: #fc0;
$GH1: #f7f8f9;

#page a{
    text-decoration: none;
    color: #333;
  }
.btn-default{
  border: none;
  background: $GH1;
  padding: 4px 15px;
  @include transition(.3s);
  z-index: 10000;
  &:hover{
    background: $YH1;
    @include opacity(80);
    @include transition(.3s);
  }
  &:active{
    background: $YH2 !important;
    @include opacity(80);
  }
}

@mixin opacity($o) {
  filter: alpha(opacity=$o);
  opacity: $o/100;
}

@mixin transition($a) {
   -webkit-transition: $a linear;
      -moz-transition: $a linear;
       -ms-transition: $a linear;
        -o-transition: $a linear;
           transition: $a linear;
}
@mixin transition-delay($a) {
   -webkit-transition-delay: $a;
      -moz-transition-delay: $a;
       -ms-transition-delay: $a;
        -o-transition-delay: $a;
           transition-delay: $a;
}
@mixin transform($y) {
   -webkit-transform: translateY($y);
      -moz-transform: translateY($y);
       -ms-transform: translateY($y);
        -o-transform: translateY($y);
           transform: translateY($y);
}
@mixin rotate($deg) {
   -webkit-transform: rotate($deg);
      -moz-transform: rotate($deg);
       -ms-transform: rotate($deg);
        -o-transform: rotate($deg);
           transform: rotate($deg);
}
@mixin scale($deg) {
   -webkit-transform: scale($deg);
      -moz-transform: scale($deg);
       -ms-transform: scale($deg);
        -o-transform: scale($deg);
           transform: scale($deg);
}
@mixin no-flicker {
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}

@mixin backgroundSize($size){
  -webkit-background-size: $size;
     -moz-background-size: $size;
       -o-background-size: $size;
          background-size: $size;
}

