extends layout
block content
  #back
  a(href="/") BACK
  .casing
    .foto
    span.fio Николай Лермонтов
    br
    span.post лучший программист

  .casing
    .foto(style='background-image: url("/images/24.jpg");')
    span.fio Глеб Глинберг
    br
    span.post главный бухгалтер
