#page
  .half.left.image
  a#left.half.left(href="/partials/contact")
    h2.subtitle Дизайн-студия
    h1.title #{title}
    .intro
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum facilisis molestie. Cras vel pulvinar mi, sed feugiat sem. Aliquam egestas, orci vel pretium efficitur, velit dui cursus lectus, in euismod purus eros ultricies purus. Nunc tempor iaculis mi, et ultrices dolor condimentum ac. Sed ullamcorper, ligula quis consequat egestas, ligula purus scelerisque nulla, in tristique ante nisl eget mauris. Pellentesque quis risus rutrum, sodales est sed, faucibus metus.
  .half.right.image
  a#right.half.right(href="/partials/contact")
    h2.subtitle Собственные проекты
    h1.title #{title}
    .intro
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum facilisis molestie. Cras vel pulvinar mi, sed feugiat sem. Aliquam egestas, orci vel pretium efficitur, velit dui cursus lectus, in euismod purus eros ultricies purus. Nunc tempor iaculis mi, et ultrices dolor condimentum ac. Sed ullamcorper, ligula quis consequat egestas, ligula purus scelerisque nulla, in tristique ante nisl eget mauris. Pellentesque quis risus rutrum, sodales est sed, faucibus metus.

script( type="text/javascript", src="hover.js")
