#page
  .left
  a.yellow_left(href="/contact")
    .intro
      h2 Дизайн-студия
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum facilisis molestie. Cras vel pulvinar mi, sed feugiat sem. Aliquam egestas, orci vel pretium efficitur, velit dui cursus lectus, in euismod purus eros ultricies purus. Nunc tempor iaculis mi, et ultrices dolor condimentum ac. Sed ullamcorper, ligula quis consequat egestas, ligula purus scelerisque nulla, in tristique ante nisl eget mauris. Pellentesque quis risus rutrum, sodales est sed, faucibus metus.
  .right
  a.yellow_right(href="/contact")
    .intro
      h2 Собственные проекты
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum facilisis molestie. Cras vel pulvinar mi, sed feugiat sem. Aliquam egestas, orci vel pretium efficitur, velit dui cursus lectus, in euismod purus eros ultricies purus. Nunc tempor iaculis mi, et ultrices dolor condimentum ac. Sed ullamcorper, ligula quis consequat egestas, ligula purus scelerisque nulla, in tristique ante nisl eget mauris. Pellentesque quis risus rutrum, sodales est sed, faucibus metus.
h1.title #{title}
